<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.obeonetwork.dsl.object.design.Activator"
               id="org.obeonetwork.dsl.object.design"
	       name="object">
    </component>
  </extension>
  <extension
        point="org.eclipse.ui.newWizards">
     <wizard
           category="org.obeonetwork.dsl.is.ui.categoryID"
           class="org.obeonetwork.dsl.object.design.wizards.NewObjectModelWizard"
           icon="icons/full/obj16/ObjectModelFile.gif"
           id="org.obeonetwork.dsl.object.design.wizards.NewObjectModelWizard"
           name="Object Model">
        <description>
           New object model wizard
        </description>
     </wizard>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.obeonetwork.dsl.object.design.handlers.CreateNewWorkspaceHandler"
           commandId="org.obeonetwork.dsl.object.design.command.CreateNewWorkspace">
        <enabledWhen>
           <with
                 variable="selection">
              <count
                    value="1">
              </count>
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <adapt
                       type="org.eclipse.core.resources.IFile">
                    <test
                          property="org.eclipse.core.resources.extension"
                          value="object">
                    </test>
                 </adapt>
              </iterate>
           </with>
        </enabledWhen>
     </handler>
     <handler
           class="org.obeonetwork.dsl.object.design.handlers.DeleteWorkspaceHandler"
           commandId="org.obeonetwork.dsl.object.design.command.DeleteWorkspace">
        <enabledWhen>
           <with
                 variable="selection">
              <iterate
                    ifEmpty="false"
                    operator="and">
                 <instanceof
                       value="org.obeonetwork.dsl.object.Workspace">
                 </instanceof>
              </iterate>
           </with>
        </enabledWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="org.obeonetwork.dsl.object.design.command.CreateNewWorkspace"
           name="New Object Workspace">
     </command>
     <command
           id="org.obeonetwork.dsl.object.design.command.DeleteWorkspace"
           name="DeleteWorkspace">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           allPopups="false"
           locationURI="popup:common.new.menu?after=additions">
        <command
              commandId="org.obeonetwork.dsl.object.design.command.CreateNewWorkspace"
              icon="icons/full/tool16/CreateWorkspace.gif"
              label="Workspace..."
              style="push">
           <visibleWhen
                 checkEnabled="true">
           </visibleWhen>
        </command>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        <command
              commandId="org.obeonetwork.dsl.object.design.command.DeleteWorkspace"
              icon="icons/full/tool16/delete.gif"
              label="Delete"
              style="push">
           <visibleWhen
                 checkEnabled="true">
           </visibleWhen>
        </command>
     </menuContribution>
  </extension>
</plugin>
